includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    paths:
        - src/
    level: 5
    ignoreErrors:
        - message: '#Unsafe usage of new static\(\)#'
        - message: '#Function response not found.#'
        - message: '#Function view not found.#'
    excludePaths:
        - 'src/Macros/Php2JsServiceProvider.php'